h2.btn{
  cursor: default;white-space: normal;
}
/* #mangePart{position: absolute;top:10px;} */
/* #addContent{position: absolute;bottom:10px;} */
td span{
  width: 10em;overflow: hidden;white-space: nowrap;display: inline-block;margin: 0;
}
.btn:active{
  border: 0;outline: 0;box-shadow: none;
}
table th{text-indent: 1em;}
table tbody tr td:first-child{text-indent: 1em;}

.modal-dialog {
    width: 500px;
    margin: 30px auto;
}
.hpanel .header-contain [class*='col-'] .act .btn {
    padding: 8px 16px;
    margin: 10px 10px;
}
.part{margin-top: 2em;padding-right: 10px;border-right:1px solid #cdcdcd;}
#publish{margin-top: 3em;}

@media (max-width: 768px){
  .part{padding-bottom: 2em;border-bottom:1px solid #cdcdcd;border-right: 1px solid transparent;}
}
.icon_img_1{ position: relative;}


.modal-dialog{
  margin-top: 10%;
}
