<div class="content animate-panel">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					
				</div>
				<div class="panel-body">
					<table id="example1" class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded" data-page-size="8" data-filter="#filter">
						<thead>
							<tr>
								<th class="">标题</th>
								<th class="">内容</th>
								<th class="">发布人</th>
								<th class="">发布时间</th>
								<th class="">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
							<tr>
								<td class="footable-visible footable-first-column">
									党委讨论会
								</td>
								<td class="footable-visible">
									内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
								</td>
								<td class="footable-visible">
									发布人
								</td>
								<td class="footable-visible">
									发布时间
								</td>
								<td class="footable-visible footable-last-column">
									<a href="javascript:;">详情</a>
									<a href="javascript:;">删除</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr class="">
								<td class="footable-visible" colspan="5">
									<ul class="pagination pull-right">
										<li class="footable-page-arrow">
											<a data-page="first" href="#first">«</a>
										</li>
										<li class="footable-page-arrow">
											<a data-page="prev" href="#prev">‹</a>
										</li>
										<li class="footable-page active">
											<a href="#">1</a>
										</li>
										<li class="footable-page">
											<a data-page="2" href="#">2</a>
										</li>
										<li class="footable-page-arrow disabled">
											<a data-page="next" href="#next">›</a>
										</li>
										<li class="footable-page-arrow disabled">
											<a data-page="last" href="#last">»</a>
										</li>
									</ul>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
