.write-post-container{
	padding-right:2px;
}
  .type{margin: 20px 0;}

.line{height: 1px;margin:5px 15px;}


/* input[type=file] {
  display: block; z-index: 2; position: relative;
 }
.ico{
  position: relative;z-index: 1;top: -23px;display: inline-block;
}
.ico .glyphicon{
  font-size: 2em;color: #67cc98;position: relative; top: 9px;
} */


